    <!-- ======= Contact Section ======= -->
    @model Contact_Us
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
         
        </div>

      </div>
      <div class="container">

        <center>

          <div class="col-lg-6">
            
            <form asp-action="SaveContact" method="post" >
              <div class="row">
                <div class="col form-group">
                  <input type="text" asp-for="Name" class="form-control"   placeholder="Your Name" required autocomplete="off">
                </div>
                <div class="col form-group ">
                  <input type="email" asp-for="Email" class="form-control"  placeholder="Your Email" required autocomplete="off">
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" asp-for="Subject"  placeholder="Subject" required autocomplete="off">
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" asp-for="Message" rows="5"  placeholder="Message" required autocomplete="off"></textarea>
              </div>
              
              <div class="text-center"><button type="submit"  style="background-color:#3FBBC0; color:white; outline:none;border:none; margin:20px auto ;padding:10px; border-radius: 4px;" >Send Message</button></div>
            </form>
     
          </div>
                 </center>
        </div>


    </section><!-- End Contact Section -->
